<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>HostGrids - Hosting & Domain Services HTML Template.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
      <div class="preloader-inner">
        <div class="preloader-icon">
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

    <!-- Start Header Area -->
    <header class="header navbar-area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-12">
            <div class="nav-inner">
              <!-- Start Navbar -->
              <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                  <img
                    id="logo1"
                    src="/logo/SWU_College_Social_Communication_Innovation_EN_White.png"
                  />
                </a>
              
                <div
                  class="collapse navbar-collapse sub-menu-bar"
                  id="navbarSupportedContent"
                >
                  <ul id="nav" class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a href="/view">Home</a>
                    </li>

                    <li class="nav-item">
                      <a href="/view/admission">Admission</a>
                    </li>

                    <li class="nav-item">
                      <a href="/view/academic">Academic</a>
                    </li>
                    <li class="nav-item">
                      <a href="/view/gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                      <a href="/view/contact" class="active">Contact us</a>
                    </li>
                  </ul>
                </div>
                <!-- navbar collapse -->
                <% if (isLoggedIn) { %>
                <div class="button">
                  <a href="/api/auth/logout" class="btn">Log out</a>
                </div>
                <% } else { %>
                <div class="button">
                  <a href="/view/login" class="btn">Log in</a>
                </div>
                <% } %>
              </nav>
              <!-- End Navbar -->
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </header>
    <!-- End Header Area -->

    <!-- Start Hero Area -->
    <section class="vh-300 gradient-custom">
      <div class="wow fadeInUp container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5 p-5">
            <div
              class="card bg-light text-dark mt-5"
              style="border-radius: 1rem"
            >
              <div class="card-body p-5 text-center">
                <div class="mb-md-5 mt-md-4 pb-5">
                  <h2 class="fw-bold mb-2 text-uppercase">Contact US</h2>
                  <label class="text-muted mb-5">
                    we will get back to you as soon as possible
                  </label>

                  <div>
                    <label class="form-label">Name</label>
                    <div class="col mb-4">
                      <input
                        type="text"
                        id="name"
                        class="form-control"
                        placeholder="Enter your name"
                      />
                    </div>
                  </div>

                  <div class="mb-4">
                    <label class="form-label">Email</label>
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      placeholder="Enter your email"
                    />
                  </div>

                  <div class="form">
                    <label class="form-label">subject</label>
                    <div class="col mb-4">
                      <textarea
                        class="form-control"
                        id="subject"
                        placeholder="Enter subject"
                      ></textarea>
                    </div>
                  </div>
                  <div class="mb-4">
                    <label class="form-label">Message</label>
                    <textarea
                      class="form-control"
                      id="message"
                      placeholder="Enter your message"
                      rows="4"
                    ></textarea>
                  </div>
                  <button
                    class="btn btn-outline-dark btn-lg px-5"
                    onclick="test();"
                    type="submit"
                  >
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
      <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- ========================= JS here =========================> -->
   

    <script src="/js/script.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/count-up.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
